[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mecab = "*"
gensim = "*"
pandas = "*"
ginza = "*"
scikit-learn = "*"
oseti = "*"
fasttext = "*"
google-cloud-language = "*"
python-dotenv = "*"
requests = "*"
neologdn = "*"
matplotlib = "*"
transformers = "*"
wikiextractor = "*"
mecab-python3 = "*"
tensorflow-gpu = "*"
torch = "*"
torchvision = "*"
cython = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
